/* 헤더 */
#header {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    z-index: 2;
    top: 0;
    background-color: #fff;
    color: #000;
    margin-bottom: 10px;
}

#header #header_wrapper {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 80px
}
#header #header_wrapper .userMenu {
    height: 29px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}
#header #header_wrapper .userMenu a{
    text-decoration: none;
    color: #555;
    float: left;
    font-size: 13px;
    padding: 7px 0;
    margin-left: 15px;
    padding-right: 5px;
}

#header #header_wrapper .search_wrapper {
    position: absolute;
    top: 25px;
    left: 390px;
    z-index: 100;
    margin-bottom: 10px;
    min-height: 30px
}

#header #header_wrapper .search {
    font-size: 14px;
    padding-left: 10px;
    width: 300px;
    height: 37px;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    background: #fff;
    position: absolute;
    left: -41px;
    top: -15px;
}
#header .search_wrapper .search-btn{
	position: absolute;
    left: 271px;
    top: -15px;
    width: 40px;
    height: 37px;
    border: none;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}
.wrapper_left span {font-size: larger;}

/* 알림 관련 */
#btn-alarm{
	position: absolute;
    bottom : -20px;
}

.bell {
  transform-origin: top;
  animation: bell 2s infinite linear;
}

@keyframes bell{
  0%, 50%{
	transform: rotate(0deg);
	}
  5%, 15%, 25%, 35%, 45% {
	transform: rotate(13deg);
  }
  10%, 20%, 30%, 40% {
	transform: rotate(-13deg);
  }
}

#btn-alarm{background-color:white; border:none;}
#header_alert{width:10px;     position: absolute; bottom: 40px; left: 295px;}


/* 메인메뉴 */
#main_menu_container {
    width: 100%;
    background-color: #fff
}
#main_menu_container #main_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1300px
}
#main_menu_container .main_menu {
    text-align: center;
    text-transform: uppercase;
    height: 55px
}
#main_menu_container .main_menu a {
    display: block;
    display: flex;
    justify-content: center;
    padding: 20px 1em 0;
    color: #666;
    text-decoration: none;
    white-space: nowrap;
    font-size: 13px;
}
#main_menu_container .main_menu a:hover {
    color:rgb(22, 160, 133);
    font-weight: bolder;
}


#header_of_header_wrapper {
    height: 24px;
    width: 95%;
}

#header_of_header_wrapper #header_of_header {
    max-width: 1024px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}


#header_of_header_wrapper #header_of_header a {
    color: #555;
    float: left;
    font-size: 12px;
    padding: 7px 0;
    margin-left: 15px;
    padding-right: 5px;
    text-decoration: none
}
#header_of_header_wrapper #header_of_header a:hover{
	color : gray;
}
/* 회원가입메뉴 */

/*footer 시작*/
main{max-width: 1024px;}
footer{border-top: 1px solid rgba(0,0,0,.12);
    box-shadow: 0 -6px 7px -8px rgb(0 0 0 / 20%);
    padding:10px;}
#footer-div{display:flex;}
#footer-notice{margin-bottom: 20px;}
#footer-word{width:500px;}
#footer-word h4 {margin-bottom: 10px;}
#footer-icon-div{    
	    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 79px;
 }
 #footer-icon-div span{
 	margin: 10px 0;
 }
 #footer-icon-div p {
 	color : gray;
 }